<div class="footer mt-auto py-3 bg-dark" style="display: flex; text-align: center; justify-content: center; position: fixed; bottom: 0; width: 100%;">
    <a class="nav-link m-1" href="/tos">Terms Of Service</a><a class="nav-link m-1" href="/about">About Us</a>
</div>