    <div b-mqsyp6eh3o="" id="parallax_layer1" class="fancy_parallax_layer1" style="animation-name: loop_E; animation-duration: 80s;"></div>
    <div b-mqsyp6eh3o="" id="parallax_layer2" class="fancy_parallax_layer2" style="animation-name: loop_E; animation-duration: 40s;"></div>
    <div b-mqsyp6eh3o="" id="parallax_layer3" class="fancy_parallax_layer3" style="animation-name: loop_E; animation-duration: 20s;"></div>
    <nav class="navbar navbar-expand-lg bg-dark grad_nav1">
      <div class="container-fluid" style="align-items: baseline;">
        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav" style="flex: 1; display: flex;">
            <%- navbar %>
          </ul>
        </div>
      </div>
      <div class="container-fluid" style="flex: 1; display: flex; flex-direction: column;">
        <p style="font-weight: 500; font-size: 1.5rem; color: white; margin: 0px; margin-left: 5%; margin-right: 5%;">Welcome <%= username %>!</p>
        <p style="font-weight: 500; font-size: 1rem; color: white; margin: 0px; margin-left: 5%; margin-right: 5%;">Your access level is: NOT_IMPLEMENTED</p>
      </div>
    </nav>
    <div class="navbar navbar-expand-lg gradient-box" style="height: 5%;">
      <div class="container-fluid" >
      </div>
    </div>