
<!doctype html>
<html lang="en">
  <head>
    <meta name="description" content="A brief description of the website.">
    <title>About funckenobi42.space</title>
    <%- include('partials/header') %>
  </head>

  <body style="flex-direction: column; height: 100%;">
    <%- include('partials/navbar') %>
    <div class="row" style="width: 100%; height: 100%;">
      <div class="col-2 p-3"></div>
      <div class="col-8 p-3" style="display: flex; flex: 1; flex-direction: column; overflow: scroll; max-height: 72vh;">
                <p class="h3">Welcome, Brave Souls!</p> 
                <p style="font-size: large;">You have stumbled upon this website, forged by the Prosto Patka Tier 9001 <a class="defaulta" href="https://discord.gg/NvUTCcC7cf">discord server</a>, where we unleash our creativity and madness.</p>
                <br><p style="font-size: large;">My name is Ivan Kuvaev, but you may call me func_kenobi or VelonacepsCalyxEggs, a fearless and ambitious programmer in the making. I am also a prolific and visionary Source 1 / Source 2 mapper, who dazzled you with such maps as: <a class="defaulta" href="https://steamcommunity.com/sharedfiles/filedetails/?id=2581005382">gm_combinificity</a>, <a class="defaulta" href="https://steamcommunity.com/sharedfiles/filedetails/?id=2852613560">gm_halftrek</a> and others for garry's mod. </p>
                <div class="container-fluid"><img style="border-radius: 10%; padding: 12px;" src="https://steamuserimages-a.akamaihd.net/ugc/1692777834531530294/A280162EDC0C169F14B7F5CAAFD7D3F622E58B51/?imw=637&imh=358&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true" ><img style="border-radius: 10%; padding: 12px;" src="https://steamuserimages-a.akamaihd.net/ugc/1736720917109882211/9ED822E96C466EFBB5FB4243B2CF8651B0739D82/?imw=637&imh=358&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true" ></div>
                <br> <p class="h4">These projects would not have been possible without these legendary people:</p>
                <ul style="font-size: large;"> 
                  <li><p style="font-size: large;">Cat_Glue, the lord of insults and source engine</p></li> 
                  <li><p style="font-size: large;">Alec R.,  the sorcerer of art and design</p></li> 
                  <li><p style="font-size: large;">hevgen, the prodigy of logic and programming</p></li> 
                  <li><p style="font-size: large;">childeater416, the titan of games and challenges</p></li> 
                  <p>And all members of Prosto Patka discord! You are the best!</p>

                  <p style="font-size: smaller;">A litle FAQ:</p>
                    <ul>
                        <li><p style="font-size: smaller;">Q: Are you using the SS13-14 space as the background?</p></li>
                        <li><p style="font-size: smaller;">A: Yes, because it is absolutely based.</p></li>
                    </ul>
      </div>
      <div class="col-2 p-3"></div>
    </div>

    <%- include('partials/footer') %>

   


    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="/js/vendor/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
