<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="The website of func_kenobi.">
    <meta name="author" content="func_kenobi">
    <link rel="icon" href="/css/favicon.ico">

    <title>Music</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/index.css" rel="stylesheet">
    <style>
    </style>
  </head>

  <body style="flex-direction: column; height: 100%;">
    <div b-mqsyp6eh3o="" id="parallax_layer1" class="fancy_parallax_layer1" style="animation-name: loop_E; animation-duration: 80s;"></div>
    <div b-mqsyp6eh3o="" id="parallax_layer2" class="fancy_parallax_layer2" style="animation-name: loop_E; animation-duration: 40s;"></div>
    <div b-mqsyp6eh3o="" id="parallax_layer3" class="fancy_parallax_layer3" style="animation-name: loop_E; animation-duration: 20s;"></div>
    <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container-fluid" style="align-items: baseline; flex-direction: column;">
        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item" style="font-weight: 300;">
              <a class="nav-link" href="/radio">Radio</a>
            </li>
            <li class="nav-item" style="font-weight: 300;">
              <a class="nav-link" href="/radio/music">Music</a>
            </li>
            <li class="nav-item" style="font-weight: 300;">
                <a class="nav-link" href="javascript:history.back()">Back</a>
              </li>
            <li class="nav-item" style="font-weight: 300;">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
            <li class="nav-item" style="font-weight: 300;">
              <p style="font-weight: 500; font-size: 1.75rem; color: white; margin: 0px;">Welcome <%= username %>!</p>
              <p style="font-weight: 500; font-size: 1.75rem; color: white; margin: 0px;">Your access level is: NOT_IMPLEMENTED</p>
            </li>
            </ul>
          </ul>
        </div>
      </div>
    </nav>
    <div class="row" style="width: 100%; height: 100%;">
      <div class="col-2 p-3"></div>
      <div class="col-8 p-3" style="display: flex; flex: 1; flex-direction: column; max-height: 1024px;">
                <div id="musicList" style="overflow: scroll; ">
                    <img src="<%- albumImg %>" alt="songImage">
                    <h2><%- albumName %></h2>
                    <%- albumList %>
                </div>
          <div style="display: flex; flex-direction: row; justify-content: baseline;">
        <div class="footer">
        <a class="nav-link" href="/tos">Terms Of Service</a>
        </div>
      </div>
      <div class="col-2 p-3"></div>
    </div>

   
    <script>

    </script>

    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="/js/vendor/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
