
<html>
<head>
  <title>Home</title>
  <meta name="description" content="The website of func_kenobi.">
  <!-- Bootstrap core CSS -->
  <link href="Sticky%20Footer%20Template%20%C2%B7%20Bootstrap%20v5.0_files/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <!-- Favicons -->
<meta name="theme-color" content="#7952b3">
<%- include('partials/header') %>

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

  
  <!-- Custom styles for this template -->
  <link href="Sticky%20Footer%20Template%20%C2%B7%20Bootstrap%20v5.0_files/sticky-footer.css" rel="stylesheet">
</head>
  <body class="d-flex flex-column h-100">
    <%- include('partials/navbar') %>
      <!-- Begin page content -->
      <main class="flex-shrink-0">
      <div class="container">
        <h1 class="mt-5">The website's design and UI is currently being reworked.</h1>
      </div>
      </main>
      
      <%- include('partials/footer') %>

          <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="/js/vendor/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
        
  </body>
</html>