<!doctype html>
<html lang="en">
  <head>
    <meta name="description" content="The website of func_kenobi.">
    <script src="http://www.funckenobi42.space/scripts/bundle.js"></script>
    <title>Radio</title>
    <%- include('partials/header') %>
  </head>

  <body style="flex-direction: column; height: 100%;">
    <%- include('partials/navbar') %>
    <div class="row" style="width: 100%; height: 100%;">
      <div class="col-2 p-3"></div>
      <div class="col-8 p-3" style="display: flex; flex: 1; flex-direction: column; overflow: scroll;">
            <div class="container-fluid text-wrap" style="display: flex; width: 64rem; height: 12rem; font-size: 3em; text-align: left; text-justify: auto;">
                <div class="container-fluid p-1">
                  <h5 class="text-wrap p-1 m-1" id="song" style="display: flex; flex-direction: column; text-align: left; align-items: baseline; justify-content: left;">loading...</h5>
                  <audio controls preload="none">
                    <!-- Replace the URL below with your Icecast stream URL -->
                    <source src="http://www.funckenobi42.space:55060/stream" type="audio/mpeg">
                    Your browser does not support the audio element.
                  </audio>
                  <p class="text" style="font-size: 0.75rem;">//There may be some descrepancy of what you hear, and what you see, this is caused by either your internet, or my internet. I recommend reloading the page with ctrl+f5.</p>
                  <p class="text" style="font-size: 0.75rem;">//Will probably be fixed soon™.</p>
                  <p class="text" style="font-size: 0.75rem;">//Some progress was made, while I was sleeping I figured out a way to syncronize this crap, don't ask how.</p>
                  <table class="table table-bordered" style="font-size: 1rem;">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Author</th>
                        <th scope="col">Album</th>
                        <th scope="col">Remove</th>
                      </tr>
                    </thead>
                    <tbody id="queue">
  
                    </tbody>
                  </table>
                </div>
            </div>
          </main>

      <script>
        const outputDiv = document.getElementById('song');
        const outputDiv2 = document.getElementById('queue');
        const ws = new WebSocket('ws://www.funckenobi42.space:55064');

        ws.addEventListener('message', (event) => {
          var message = event.data;
          try {
          var dict = JSON.parse(message);
          console.log(dict)
          songInfo = `<div style="display:flex; flex-direction: row; flex: 1;"><a class="nav-link" href="http://www.funckenobi42.space/radio/music/${dict.id}">${dict.name}&#160;</a><span class="text" style="color:grey;">by&#160;</span>${dict.author}&#160; <span class="text" style="color:grey;">from&#160;</span><a class="nav-link" href="http://www.funckenobi42.space/radio/music/${dict.base64_album}">${dict.album}</a></div><div style="font-size:medium;">*\tGenre: ${dict.genre}</div><div style="font-size:medium;">*\tDate added: ${dict.date_added}</div><div style="font-size:medium;">*\tMD5 Checksum: ${dict.md5}</div>`
          outputDiv.innerHTML = `${songInfo}`;
          }
          catch(ex){
          console.log(ex)
          queue.innerHTML = message;
          }
        });

      </script>
      </div>
      <div class="col-2 p-3"></div>
    </div>

    <%- include('partials/footer') %>

   


    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="/js/vendor/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>

