<!doctype html>
<html lang="en">
  <head>
    <meta name="description" content="The website of func_kenobi.">

    <title>Radio</title>
    <%- include('partials/header') %>
  </head>

  <body style="flex-direction: column; height: 100%;">
    <%- include('partials/navbar') %>
    <div class="row" style="width: 100%; height: 100%;">
      <div class="col-2 p-3"></div>
      <div class="col-8 p-3" style="display: flex; flex: 1; flex-direction: column; overflow: scroll;">
            <div class="container-fluid text-wrap" style="display: flex; width: 64rem; height: 12rem; font-size: 3em; text-align: left; text-justify: auto;">
                <div class="container-fluid text m-0 p-0" style="width: 12rem;">
                </div>
                <div class="container-fluid">
                  <h5 class="text-wrap" id="song" style="display: flex; flex-direction: column; text-align: left; align-items: baseline; justify-content: left;">loading...</h5>
                </div>
            </div>
          </main>

      <script>
        const outputDiv = document.getElementById('song');
        const ws = new WebSocket('ws://www.funckenobi42.space:55064');

        ws.addEventListener('message', (event) => {
          var message = event.data;
          try {
          dict = JSON.parse(message);
          console.log(dict)
          songInfo = `<div>${dict[0].name} <span class="text" style="color:grey;"> by </span> ${dict[0].author} <span class="text" style="color:grey;"> from </span> ${dict[0].album}</div><div style="font-size:medium;">*\tGenre: ${dict[0].genre}</div><div style="font-size:medium;">*\tDate added: ${dict[0].date_added}</div><div style="font-size:medium;">*\tMD5 Checksum: ${dict[0].md5}</div>`
          outputDiv.innerHTML = `${songInfo}`;
          }
          catch {
            console.log('Error')
          }
        });

      </script>
      <%- include('partials/footer') %>
      </div>
      <div class="col-2 p-3"></div>
    </div>

   


    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="/js/vendor/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>

