html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
.parallax {
  width: inherit;
  height: inherit;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
}
/*
PARALLAX STUFF
*/
@keyframes loop_N {
  from {
      background-position: 0 0;
  }

  to {
      background-position: 0 960px;
  }
}

@keyframes loop_S {
  from {
      background-position: 0 0;
  }

  to {
      background-position: 0 -960px;
  }
}

@keyframes loop_E {
  from {
      background-position: 0 0;
  }

  to {
      background-position: -960px 0;
  }
}

@keyframes loop_W {
  from {
      background-position: 0 0;
  }

  to {
      background-position: 960px 0;
  }
}

.parallax_layer1, .parallax_layer2, .parallax_layer3,
.fancy_parallax_layer1, .fancy_parallax_layer2, .fancy_parallax_layer3 {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-repeat: repeat;
  animation: 400s linear infinite;
  z-index: -1;
}

.parallax_layer1 {
  background-image: url("/images/parallax/layer1.png");
}

.parallax_layer2 {
  background-image: url("/images/parallax/layer2.png");
}

.parallax_layer3 {
  background-image: url("/images/parallax/layer3.png");
}

.fancy_parallax_layer1 {
  background-image: url("/images/parallax/layer1_fancy.png");
}

.fancy_parallax_layer2 {
  background-image: url("../images/parallax/layer2_fancy.png");
}

.fancy_parallax_layer3 {
  background-image: url("/images/parallax/layer3_fancy.png");
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
p {
  color: gold;
  margin: 0px;
}
.h3 {
  color: gold;
}
label {
  color: gold;
}
#errorContainer {
  display: none;
}

.modal-content {
  background-color: gray;
}
.nav-link {
  color: orange;
}
.nav-link:hover {
  color: orangered;
}
.nav-link:active {
  color: red;
}